#modal {
    margin-left: 200px;
    width: 600px;
    height: 600px;
    border: black;
    border-style: solid;
    border-radius: 5%;

    #upper-part {
			border-top-left-radius: 5%;
			border-top-right-radius: 5%;
			height: 70%;
      background: linear-gradient(140deg, rgba(204, 133, 151), rgba(255, 149, 98)) ;

			#avatar-container {
				text-align: center;
				
				img {
					width: 150px;
					height: 150px;
					border-radius: 50%;
				}
			}
    }
}